/*-- Author :
	Hasibul Hasan Shanto  
	Email:kajal.shanto@gmail.com; 
 
*/
h2{
	color:red;
	font-size: 40px;
}
#counter{
	font-size: 30px;
}
.conter_P{
	font-size: 30px;
	color: coral;
}
.green{
	color: green;
}

.red{
	color: red;
}
.img_para{
	margin-top: 20px;
	font-size: 18px;
	color: green;
}